/*-------------------Global styles-------------------*/
html, body {
	height: 100%;
	margin:0;
}
body {
	background: rgb(152,152,152);
	overflow: hidden;
}
div {
	box-sizing: border-box;
}
p {
	margin: 0;
	color: rgb(255,255,255);
	font-family: 'Metrophobic', sans-serif;
}
hr {
	width: 50%;
	margin: 20px auto;
	border: 1px solid rgb(200,200,200);
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #ffffff;
	cursor: pointer;
	margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
input[type=range]::-webkit-slider-runnable-track {
	height: 4px;
	cursor: pointer;
	background: rgb(200,200,200);
	border-radius: 1.3px;
}
.img-responsive {
	display:block;
	height: auto;
	width: 100%;
}