/*Global styles*/
html, body {
	height: 100%;
	margin:0;
}
body {
	background: rgb(152,152,152);
	overflow: hidden;
}

/*Menu styles*/
.mobileAdminMenu{
	position: fixed;
	top: 0;
	width: 100%;
	display: none;
	float: left;
}
#menu {
	position: relative;
	height: auto;
	border: 1px solid black;
	background: rgb(231,239,245);
	display: flex;
	z-index: 1000;
}
#toolsMenu {
	/*
	height: 100%;
	width: 360px;
	border: 1px solid black;
	display: flex;
	flex-wrap:wrap;
	*/
}
#sizeMenu {
	/*
	height: 100%;
	width: 60px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	*/
}

.toolButton {
	/*border: 1px solid black;*/
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.toolButton:hover {
	background: white;
	border: 1px solid rgb(23,98,161);
	border-radius: 10px;
}
.toolButton:active {
	background: white;
	border: 1px solid rgb(23,98,161);
	border-radius: 10px;
}
.bigToolButton{
	height: 150px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left
}
.showSize {
	font-size: 3px;
	/*border: 1px solid black;*/
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
}
.flexRow{
	display: flex;
	align-items: center;
}
.sizeSlider{
	/*display: flex;*/
	/*justify-content: center;*/
	margin-left: 10px;
	align-items: center;
	float: left;
}
.sizeImage {
	border-radius: 50%;
	background: black;
	height: 5px;
	width: 5px;
}
.sizeSlider {
	width: 50px;
}
#colorPalette {
	/*
	height: 100%;
	width: 50px;
	border: 1px solid black;
	display: flex;
	flex-wrap:wrap;
	flex-direction: column;
	align-items: center;
	*/
}
.colorButton {
	width: 100%;
	height: 25px;
}
/*Button*/
.active {
	background: white;
	border: 1px solid rgba(23,98,161,0.5);
	border-radius: 10px;
	transition: all 0.2s;
}
.activeColor {
	border: 1px solid red;
}

#textInput{
	display: none;
	position: absolute;
	z-index: 1010;
	background-color: transparent;
	background-image: none;
	border: 1px dotted gray;
}

/*Canvas styles*/
canvas {
	position: absolute;
}
#canvasContainer {
	margin: 50px auto;
	box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
	height: 400px;
	max-width: 600px;
	overflow: hidden;
}
#canvas-real {
	border: 1px solid black;
}
#canvas-draft {
	border: 1px solid red;
	/*transform: translateX(-200px) translateY(-200px);*/
}

.undo, .redo {
	height: 50px;
	width: 50px;
	/*border: 1px solid black;*/
}
/*
.undo:hover, .redo:hover {
	background: rgb(152,152,152);
}
*/

@media (max-width:991px){
	.mobileAdminMenu{
		top: 0;
		display: block;
		position: fixed;
	}
	.mobileAdminIcons{
		display: flex;
		justify-content: center;
	}
	.mobileAdminIcons .toolButton{
		margin: 0 20px;
	}
	.bigToolButton{
		height: 50px;
		width: 50px;
	}
	.toolButton,
	.toolButton img,
	.toolButton i{
		height: 30px;
		width: 30px;
	}
	#menu{
		bottom: 0;
		position: fixed;
		width: 100%;
	}
	
	.adminContainer{
		display: none;
	}
}