html, body {
	height: 100%;
	margin:0;
}

#canvas-real,
#canvas-draft {
	border: 1px dotted black; 
}

canvas {
	position: absolute;
}

#textInput{
	display: none;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: transparent;
	/* height: 100px; */
	/* width: 300px; */
}